@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&display=swap');

body {
    margin: 0 auto;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(50deg, #e2eaf7, #f1f4f9);
    text-align: center;
    font-family: 'Roboto Slab', serif;
}
section#calc {
    padding: 60px 20px 20px 20px;
    background-color: #2b64bb;
    transition: .5s ease-out;
}

section#calc h1 {
    color: #2b64bb;
    box-shadow: 0 0 0 15px #1a4586;
    font-family: 'Fira Code', monospace;
    font-size: 15pt;
    background-color: #fada27;
    width: fit-content;
    font-weight: bold;
    margin: 10px auto;
    padding: 7px 12px;
}
footer p {
    font-family: 'Fira Code', monospace;
    font-size: 10pt;
    background-color: #434e5f;
    color: #e2eaf7;
    width: fit-content;
    margin: auto;
    padding: 3px 7px;
}
section#calc h2 {
    color: #6998df;
    font-size: 13pt;
    font-weight: normal;
    margin: 30px 0 0px 0;
}

.expression {
    color: #fff;
    font-weight: 100;
    font-size: 35pt;
    transition: .7 ease-in;
}

ul.group {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0 0 15px 0;
    display: inline-flex;
}

.alternative {
    padding: 10px 15px;
    background-color: #fff;
    box-shadow: 0px 0px 2px #e1e1e1;
    border-radius: 10px;
    width: fit-content;
    margin: 5px;
    cursor: pointer;
    font-size: 16pt;
    color: #274f5f;
}

.correct {
    background-color:green;
    color:#fff;
    transition: .5s ease-in;
    pointer-events: none;
}

.wrong {
    background-color:red;
    color:#fff;
    transition: .5s ease-in;
    pointer-events: none;
}
span.correct, span.wrong {
    font-size: 7pt;
    letter-spacing: .05em;
    font-family: sans-serif;
    padding: 2px 3px;
    border-radius: 5px;
}
.liRest {
    opacity: 0.2;
    transition: .8s ease-in;
    pointer-events: none;
}

.alternative:hover {
    background-color: #fada27;
    color:#000;
}

.clockSeconds {
    padding:5px 10px;
    background-color: #000;
    border-radius: 5px;
    font-size: 18pt;
    color: #ff1824;
    font-weight: 300;
    font-family: 'Fira Code', monospace;
    width: fit-content;
    margin: -21px auto 0 auto;
}
.brl {
    font-size: 20pt;
}
.accountValue, .accountTransactions {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    width: 80%;
    margin: 15px auto;
    box-shadow: 0 0 5px #e4ebf7;
}
.account {
    font-size:11pt;
    color:#9ea6b2;
    margin-bottom: 5px;
}
.money {
    margin-top: 0;
    font-size:35pt;
    color: #0059a9;
    font-weight: bold;
    margin-bottom: 20px;
}
.zeros {
    font-size:20pt;
}

.list {
    background-image: url('../images/icon-calc-transactions.gif');
    background-repeat: no-repeat;
    background-position: left;
    background-size: 21px;
    list-style: none;
    padding-top:5px;
    max-width: 400px;
    margin: auto;
    font-size: 13pt;
}
.list:hover {
    background-color: #ffde00;
}
.each {
    display: flex;
    margin: 0;
    padding:0 10px 5px 30px;
    border-bottom:1px dashed #d4d4d4;
}
div.divExpression {
    flex: 5;
    text-align: left;
}
div.divAnswer {
    flex: 3;
    text-align: right;
}
.correctTransaction {
    color: green;
}
.wrongTransaction {
    color: #f02d36;
}
.feedback {
    width: fit-content;
    padding: 10px 20px;
    text-transform: uppercase;
    color: #aaaaaa;
    margin: auto;
    font-family: sans-serif;
    font-size: 7pt;
    margin-top: 10px;
    letter-spacing: .05em;
}
.instructions {
    font-size: 9pt;
    padding: 0 60px;
    margin: 40px auto;
    color: #7a828f;
    transition: .5s ease-out;
}
a.disabled {
    background-color: #e5e5e5;
    color: #aaacaf;
    width: fit-content;
    padding: 7px 20px;
    border-radius: 50px;
    font-family: sans-serif;
    font-size: 10pt;
    text-decoration: none;
}
a.share {
    background-color: rgb(14, 167, 34);
    color: #fff;
    background-image: url('../images/icon-whatsapp.png');
    background-repeat: no-repeat;
    background-position: 10px 4px;
    padding: 7px 15px 7px 35px;
    background-size: 20px;
}
p.shareInstructions {
    font-size: 8pt;
    font-style: italic;
    margin-top: 15px;
    color: #7a828f;
}